<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--  动态侦错编译
          设定 compilation debug="true" 会将侦错符号 (.pdb 信息) 插入编译的网页。
          这样将会建立较大的档案并使执行速度变慢。
          一般只在侦错时将这个值设为 true，其他情况都设为 false。
          如需详细信息，请参阅侦错 ASP.NET 档案相关的文件。
    -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0"/>
    <!--  自定义错误讯息
          设定 customErrors mode="On" 或 "RemoteOnly" 来启用自定义错误讯息，"Off" 则为停用。 
          请对每个您要处理的错误，加入相对应的 <error> 标记。

          "On" 永远显示自定义 (易读) 讯息。
          "Off" 永远显示详细的 ASP.NET 错误信息。
          "RemoteOnly" 仅显示自定义 (易读) 讯息给不在区域 Web 服务器上的用户。
           针对安全性目的，建议您使用这项设定， 
           这样子您就不会将应用程序的详细信息显示给远程客户端。
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  验证 
          这个区段将设定应用程序的验证原则。可能的模式包括 "Windows"、
          "Forms"、"Passport" 与 "None"

          "None" 没有执行任何的验证。 
          "Windows" IIS 会根据其针对应用程序所做的设定来执行验证 (基本、摘要式或整合式 Windows 验证) 
           IIS 的匿名存取功能必须停用。 
          "Forms" 提供自定义窗体 (网页) 让使用者输入他们的凭证， 
           然后在应用程序中验证其凭证。使用者凭证 Token 储存在 Cookie 中。
          "Passport" 验证是经由 Microsoft 所提供的中央验证服务而执行，
           此中央验证服务可替成员网站提供单一登录与核心配置文件服务。
    -->
    <authentication mode="Windows"/>
    <!--  授权 
          这个区段将设定应用程序的授权原则。您可以允许或拒绝不同使用者或角色存取应用程序资源。
          通配符: "*" 代表所有的人、"?" 代表匿名 (未验证的) 使用者。
    -->
    <authorization>
      <allow users="*"/>
      <!-- 允许所有使用者 -->
      <!--  <allow     users="[使用逗号分隔的用户清单]"
                             roles="[使用逗号分隔的角色清单]"/>
                  <deny      users="[使用逗号分隔的用户清单]"
                             roles="[使用逗号分隔的角色清单]"/>
            -->
    </authorization>
    <!--  应用层级追踪记录
          应用层级追踪启用应用程序中每一页面的追踪记录文件输出。
          设定 trace enabled="true" 将启用应用程序追踪记录。如果 pageOutput="true"，追踪信息将显示
          在每一页面的下方。此外，您也可以从 Web 应用程序的根目录透过浏览 "trace.axd" 页面的方式来检视
          应用程序的追踪记录文件。
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  会话状态设定
          根据预设，ASP.NET 会使用 Cookie 来识别哪些要求是属于某个特定会话。
          如果无法使用 Cookie，您也可以将会话标识符加入到 URL 来追踪会话。
          若要停用 Cookie，请设定 sessionState cookieless="true"。
    -->
    <!--  全球化设定
          此区段用来设定应用程序全球化选项。
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
</configuration>

